**Outline:**
- Build model and loss function
- Train model
- Observe valdidate
- Test

**To do:**
- Hyperparameter tuning
    + lr
    + layer1, layer2
    + betas

**Modification**
- Weight initialization with xavier uniform
- Adam optimization
- LR decay

**To do:**
- Add dropout
- Implement another loss function

In [1]:
import importlib
import argparse
import os, sys
import argparse
import pandas as pd
import numpy as np
import pickle
import time

In [2]:
import torch
import torch.utils.data
import torch.nn.functional as F
import torch.nn as nn
import torch.optim as optim
import torch.optim.lr_scheduler
from torch.autograd import Variable
from torchvision import transforms

In [3]:
sys.path.insert(0, './../utils/')
from utils import *
from models import *

In [4]:
#Define parser
#name = 'bpi_2012'
#name = 'bpi_2013'
name = 'small_log'
#name = 'large_log'

parser = {
    'train': True,
    'test': True,
    'model_class': 'LSTMAE',
    'model_name': ' ',
    'data_dir': '../data/',
    'data_file': name + '.csv',
    'nan_pct': 0.3,
    'input_dir': '../input/{}/'.format(name), 
    'batch_size' : 16,
    'epochs' : 20,
    'no_cuda' : False,
    'seed' : 7,
    'layer1': 20,
#    'layer2': 100,
    'early_stopping': 30,
    'lr': 0.001,
    'betas': (0.9, 0.99),   
    'lr_decay': 0.99,
}

args = argparse.Namespace(**parser)
args.output_dir = './output/{0}_{1}_{2}/'.format(name, args.nan_pct, args.model_class)

In [5]:
if not os.path.isdir(args.output_dir):
    os.makedirs(args.output_dir)

In [6]:
args.cuda = not args.no_cuda and torch.cuda.is_available()

In [7]:
torch.manual_seed(args.seed)
if args.cuda:
    torch.cuda.manual_seed(args.seed)

In [8]:
kwargs = {'num_workers': 2, 'pin_memory': True} if args.cuda else {}

In [9]:
preprocessed_data_name = os.path.join(args.input_dir, 'preprocessed_data_{}.pkl'.format(args.nan_pct))
with open(preprocessed_data_name, 'rb') as f:
    min_max_storage = pickle.load(f)
    complete_matrix_w_normalized_time_train = pickle.load(f)
    missing_matrix_w_normalized_time_train = pickle.load(f)
    avai_matrix_train = pickle.load(f)
    nan_matrix_train = pickle.load(f)
    complete_matrix_w_normalized_time_val = pickle.load(f)
    missing_matrix_w_normalized_time_val = pickle.load(f)
    avai_matrix_val = pickle.load(f)
    nan_matrix_val = pickle.load(f)
    pad_matrix_val = pickle.load(f)
    complete_matrix_w_normalized_time_test = pickle.load(f)
    missing_matrix_w_normalized_time_test = pickle.load(f)
    avai_matrix_test = pickle.load(f)
    nan_matrix_test = pickle.load(f)
    pad_matrix_test = pickle.load(f)
    cols_w_time = pickle.load(f)
    cols_w_normalized_time = pickle.load(f)

In [10]:
file_name = os.path.join(args.input_dir, 'parameters_{}.pkl'.format(args.nan_pct))
with open(file_name, 'rb') as f:
    most_frequent_activity = pickle.load(f)
    first_timestamp = pickle.load(f)
    avai_instance = pickle.load(f)
    nan_instance = pickle.load(f)
    train_size = pickle.load(f)
    val_size = pickle.load(f)
    test_size = pickle.load(f)
    train_row_num = pickle.load(f)
    val_row_num = pickle.load(f)
    test_row_num = pickle.load(f)

# Load data

## Train

In [11]:
complete_matrix_w_normalized_time_trainLoader = torch.utils.data.DataLoader(complete_matrix_w_normalized_time_train, 
                                                                            batch_size=args.batch_size, shuffle=False, 
                                                                            num_workers=2)
missing_matrix_w_normalized_time_trainLoader = torch.utils.data.DataLoader(missing_matrix_w_normalized_time_train, 
                                                                           batch_size=args.batch_size, shuffle=False, 
                                                                           num_workers=2)
avai_matrix_trainLoader = torch.utils.data.DataLoader(avai_matrix_train, 
                                                      batch_size=args.batch_size, shuffle=False, 
                                                      num_workers=2)

In [12]:
complete_matrix_w_normalized_time_train.shape

(1200, 14, 15)

## Validate and test

In [13]:
normalized_complete_df_name = os.path.join(args.input_dir, 'normalized_complete_df_{}.csv'.format(args.nan_pct))
normalized_complete_df = pd.read_csv(normalized_complete_df_name)

normalized_missing_df_name = os.path.join(args.input_dir, 'normalized_missing_df_{}.csv'.format(args.nan_pct))
normalized_missing_df = pd.read_csv(normalized_missing_df_name)

In [14]:
missing_true_val = normalized_missing_df[train_row_num:-test_row_num].reset_index(drop=True)
complete_true_val = normalized_complete_df[train_row_num:-test_row_num].reset_index(drop=True)

In [15]:
missing_true_test = normalized_missing_df[-test_row_num:].reset_index(drop=True)
complete_true_test = normalized_complete_df[-test_row_num:].reset_index(drop=True)

In [16]:
missing_true_val.shape, missing_true_test.shape

((5600, 5), (5600, 5))

In [17]:
nan_time_index_val, nan_activity_index_val = getnanindex(missing_true_val)

In [18]:
nan_time_index_test, nan_activity_index_test = getnanindex(missing_true_test)

In [19]:
pd.isnull(normalized_missing_df).sum()

CaseID                  0
Activity             8381
CompleteTimestamp    8419
CumTimeInterval      8419
NormalizedTime       8419
dtype: int64

In [20]:
pd.isnull(missing_true_val).sum()

CaseID                  0
Activity             1711
CompleteTimestamp    1649
CumTimeInterval      1649
NormalizedTime       1649
dtype: int64

In [21]:
pd.isnull(missing_true_test).sum()

CaseID                  0
Activity             1648
CompleteTimestamp    1714
CumTimeInterval      1714
NormalizedTime       1714
dtype: int64

## Define model

In [22]:
if args.model_class == 'LSTMAE':
    model = LSTMAE(complete_matrix_w_normalized_time_train.shape[2], args.layer1, 1, args.cuda)
    
if args.cuda:
    model.cuda()

In [23]:
model.parameters

<bound method Module.parameters of LSTMAE (
  (encoder): EncoderRNN (
    (lstm): LSTM(15, 20, batch_first=True)
  )
  (decoder): DecoderRNN (
    (lstm): LSTM(20, 20, batch_first=True)
    (linear): Linear (20 -> 15)
    (sigmoid): Sigmoid ()
  )
)>

## Define loss

In [24]:
# Define loss
def loss_function(recon_x, x, avai_mask): 
    BCE = F.binary_cross_entropy(recon_x, x, weight=avai_mask, size_average=False)
    return BCE

In [25]:
optimizer = optim.Adam(model.parameters(), lr=args.lr, betas=args.betas)

In [26]:
#Adjust learning rate per epoch: http://pytorch.org/docs/master/optim.html?highlight=adam#torch.optim.Adam

# Method 1:
lambda1 = lambda epoch: args.lr_decay ** epoch
scheduler = torch.optim.lr_scheduler.LambdaLR(optimizer, lr_lambda=[lambda1])

# Method 2:
#scheduler = torch.optim.lr_scheduler.ReduceLROnPlateau(optimizer, 'min', patience=10)

## Utils

In [27]:
def save_model(model, epoch, score):
    model_file = os.path.join(args.output_dir, 'model_{}_epoch{}_score{:.4f}.pth'.format(args.model_class, epoch, score))
    torch.save(model.state_dict(), model_file)

In [28]:
def load_model(model, model_name):
    model_file = os.path.join(args.output_dir, model_name)
    assert os.path.isfile(model_file), 'Error: no model found!'
    model_state = torch.load(model_file)
    model.load_state_dict(model_state)

In [29]:
def val(model, missing_matrix_w_normalized_time_val, 
        complete_matrix_w_normalized_time_val, 
        avai_matrix_val, nan_matrix_val):
    
    model.eval()
    m_val = missing_matrix_w_normalized_time_val
    m_val = Variable(torch.Tensor(m_val).float())
    
    c_val = complete_matrix_w_normalized_time_val
    c_val = Variable(torch.Tensor(c_val).float())
    
    avai_matrix_val = Variable(torch.Tensor(avai_matrix_val).float())
    nan_matrix_val = Variable(torch.Tensor(nan_matrix_val).float())
    
    if args.cuda:
        m_val = m_val.cuda()
        c_val = c_val.cuda()
        avai_matrix_val = avai_matrix_val.cuda()
        nan_matrix_val = nan_matrix_val.cuda()
        
    recon_data = model(m_val)
        
    recon = getProbability(recon_data)
    
    recon_2d = recon.view(recon.size(0)*recon.size(1), recon.size(2))
    gt_2d = c_val.view(recon.size(0)*recon.size(1), recon.size(2))
    avai_matrix_2d = avai_matrix_val.view(recon.size(0)*recon.size(1), recon.size(2))
    nan_matrix_2d = nan_matrix_val.view(recon.size(0)*recon.size(1), recon.size(2))
    
    submission = torch.add(recon_2d*nan_matrix_2d, gt_2d*avai_matrix_2d)
    
    #Time
    predicted_time = submission.data[:, 0].cpu().numpy()
    gt_time = gt_2d.data[:, 0].cpu().numpy()
    mae = mean_absolute_error(gt_time, predicted_time)
    
    #Activity
    predicted_act = submission.data[:, 1:].cpu().numpy()
    gt_act = gt_2d.data[:, 1:].cpu().numpy()
    
    a = predicted_act[np.any(predicted_act != 0, axis=1)]
    b = gt_act[np.any(gt_act != 0, axis=1)]   
    
    predicted_labels = np.argmax(a, axis=1)
    gt_labels = np.argmax(b, axis=1)
    acc = accuracy_score(gt_labels, predicted_labels)
    
    return mae+1/acc

In [30]:
missing_true_val.head()

   CaseID    Activity    CompleteTimestamp  CumTimeInterval  NormalizedTime
0    1201  Activity A  1970-01-01 09:00:00              0.0        0.000000
1    1201  Activity B  1970-01-01 10:00:00           3600.0        0.125000
2    1201         NaN  1970-01-01 11:00:00           7200.0        0.249999
3    1201  Activity D  1970-01-01 12:00:00          10800.0        0.374999
4    1201  Activity E  1970-01-01 13:00:00          14400.0        0.499998

In [31]:
complete_true_val.head()

   CaseID    Activity    CompleteTimestamp  CumTimeInterval  NormalizedTime
0    1201  Activity A  1970-01-01 09:00:00              0.0        0.000000
1    1201  Activity B  1970-01-01 10:00:00           3600.0        0.125000
2    1201  Activity C  1970-01-01 11:00:00           7200.0        0.249999
3    1201  Activity D  1970-01-01 12:00:00          10800.0        0.374999
4    1201  Activity E  1970-01-01 13:00:00          14400.0        0.499998

# Train model

In [32]:
def train(epoch, model, optimizer):
    model.train()
    train_loss = 0
    for batch_idx, (m_data, c_data, avai_mask) in enumerate(zip(missing_matrix_w_normalized_time_trainLoader,
                                                                complete_matrix_w_normalized_time_trainLoader,
                                                                avai_matrix_trainLoader)):
        
        c_data = Variable(c_data.float())
        m_data = Variable(m_data.float())
        avai_mask = Variable(avai_mask.float())
      
        if args.cuda:
            c_data = c_data.cuda()
            m_data = m_data.cuda()
            avai_mask = avai_mask.cuda()
            
        optimizer.zero_grad()
        
        recon_data = model(m_data)
        
        loss = loss_function(recon_data, c_data, avai_mask)
        loss.backward()
        train_loss += loss.data[0]
        optimizer.step()
        
    return train_loss / len(complete_matrix_w_normalized_time_trainLoader.dataset)

In [33]:
if args.train:
    for epoch in range(1, args.epochs + 1):
        init = time.time()
        
        #method 1 scheduler
        scheduler.step()
        train_loss = train(epoch, model, optimizer)
        end_train = time.time()
        
        val_score = val(model, missing_matrix_w_normalized_time_val, complete_matrix_w_normalized_time_val, 
                        avai_matrix_val, nan_matrix_val)
        
        '''
        #save_model(model, epoch, val_score)
        if epoch == 1:
            current_best = val_score
            save_model(model, epoch, val_score)
        
        else:
            if val_score < current_best:
                current_best = val_score
                save_model(model, epoch, val_score)
        
        #method 2 scheduler
        #scheduler.step(val_score)
        '''
        
        end = time.time()
        print('====> Epoch {} | Train time: {:.4f} ms| End time: {:.4f} ms | Train loss: {:.4f} | Val score: {:.4f}'.
              format(epoch, (end_train-init)*1000, (end-init)*1000, train_loss, val_score))
else:
    load_model(model, args.model_name)

====> Epoch 1 | Train time: 475.5094 ms| End time: 545.9228 ms | Train loss: 77.6448 | Val score: 1.4417
====> Epoch 2 | Train time: 365.1736 ms| End time: 432.9326 ms | Train loss: 42.7822 | Val score: 1.4198
====> Epoch 3 | Train time: 368.4940 ms| End time: 437.5484 ms | Train loss: 36.6686 | Val score: 1.2507
====> Epoch 4 | Train time: 379.0486 ms| End time: 447.7403 ms | Train loss: 33.2917 | Val score: 1.2260
====> Epoch 5 | Train time: 379.3921 ms| End time: 447.7327 ms | Train loss: 30.3590 | Val score: 1.1932
====> Epoch 6 | Train time: 368.8996 ms| End time: 437.1231 ms | Train loss: 27.9024 | Val score: 1.1682
====> Epoch 7 | Train time: 373.8098 ms| End time: 436.4302 ms | Train loss: 25.9457 | Val score: 1.1377
====> Epoch 8 | Train time: 364.8400 ms| End time: 458.6463 ms | Train loss: 24.2831 | Val score: 1.1367
====> Epoch 9 | Train time: 362.3147 ms| End time: 430.0632 ms | Train loss: 22.7272 | Val score: 1.1340
====> Epoch 10 | Train time: 377.8789 ms| End time: 445.6153 ms | Train loss: 21.2896 | Val score: 1.1304
====> Epoch 11 | Train time: 370.6906 ms| End time: 438.5281 ms | Train loss: 19.9533 | Val score: 1.1269
====> Epoch 12 | Train time: 363.8175 ms| End time: 431.9596 ms | Train loss: 18.6353 | Val score: 1.1229
====> Epoch 13 | Train time: 371.7062 ms| End time: 434.8738 ms | Train loss: 17.2777 | Val score: 1.1158
====> Epoch 14 | Train time: 372.9253 ms| End time: 436.9295 ms | Train loss: 15.9311 | Val score: 1.1131
====> Epoch 15 | Train time: 367.7602 ms| End time: 436.0981 ms | Train loss: 14.6706 | Val score: 1.1100
====> Epoch 16 | Train time: 363.4093 ms| End time: 453.3265 ms | Train loss: 13.4870 | Val score: 1.1074
====> Epoch 17 | Train time: 366.3769 ms| End time: 439.1947 ms | Train loss: 12.3612 | Val score: 1.1066
====> Epoch 18 | Train time: 366.7495 ms| End time: 434.4113 ms | Train loss: 11.3171 | Val score: 1.1084
====> Epoch 19 | Train time: 361.7356 ms| End time: 429.9045 ms | Train loss: 10.3584 | Val score: 1.1131
====> Epoch 20 | Train time: 378.5610 ms| End time: 446.5551 ms | Train loss: 9.5208 | Val score: 1.1157

# Predict and evaluate

In [34]:
if args.test:
    m_test = missing_matrix_w_normalized_time_test
    m_test = Variable(torch.Tensor(m_test).float())
    
    if args.cuda:
        m_test = m_test.cuda()
    
    print('Predicting...')
    recon_test = model(m_test)
    
    print('\n')
    print('Converting to dataframe...')
    recon_df_w_normalized_time = convert2df(recon_test, pad_matrix_test, cols_w_normalized_time, test_row_num)
    
    print('Transforming Normalized Time to Time...')
    recon_df_w_time = getDfWithTime(recon_df_w_normalized_time, missing_true_test, min_max_storage)
    
    print('Getting submission...')
    submission_df = getSubmission(recon_df_w_time, missing_true_test, complete_true_test, first_timestamp)
    submission = fixTime(submission_df)
        
    print('Testing...')
    mae_time, rmse_time, acc = evaluation(submission, nan_time_index_test, nan_activity_index_test,show=True)
    
    print('\n')
    print('Saving submission...')
    submission_df.to_csv(args.output_dir+'submission.csv', index=False)
    print('Done!')

Predicting...


Converting to dataframe...
Transforming Normalized Time to Time...
Getting submission...

/home/pllab/miniconda2/envs/pydata/lib/python3.5/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Testing...
Number of missing Time: 1714
Mean Absolute Error: 0.0212 day(s)
Root Mean Squared Error: 0.0341 day(s)
Number of missing Activity: 1648
Accuracy: 68.99%


Saving submission...
Done!

In [35]:
submission_df.head(20)

,CaseID,TrueActivity,PredictedActivity,TrueTime,PredictedTime,TrueCompleteTimestamp,PredictedCompleteTimestamp
0,1601,Activity A,Activity A,0.0,7380.644009,1970-01-01 09:00:00,1970-01-01 11:03:00.644009
1,1601,Activity B,Activity B,3600.0,9419.941149,1970-01-01 10:00:00,1970-01-01 11:36:59.941149
2,1601,Activity C,Activity C,7200.0,7200.000000,1970-01-01 11:00:00,1970-01-01 11:00:00
3,1601,Activity D,Activity D,10800.0,10800.000000,1970-01-01 12:00:00,1970-01-01 12:00:00
4,1601,Activity E,Activity E,14400.0,14400.000000,1970-01-01 13:00:00,1970-01-01 13:00:00
5,1601,Activity G,Activity G,18000.0,18343.631855,1970-01-01 14:00:00,1970-01-01 14:05:43.631855
6,1601,Activity M,Activity M,18000.0,18000.000000,1970-01-01 14:00:00,1970-01-01 14:00:00
7,1601,Activity K,Activity K,18000.0,18000.000000,1970-01-01 14:00:00,1970-01-01 14:00:00
8,1601,Activity I,Activity I,21600.0,21600.000000,1970-01-01 15:00:00,1970-01-01 15:00:00
9,1601,Activity J,Activity J,21600.0,20430.926705,1970-01-01 15:00:00,1970-01-01 14:40:30.926705
10,1601,Activity N,Activity L,21600.0,21600.000000,1970-01-01 15:00:00,1970-01-01 15:00:00
11,1601,Activity L,Activity L,21600.0,20948.024070,1970-01-01 15:00:00,1970-01-01 14:49:08.024070
12,1601,Activity H,Activity H,25200.0,25200.000000,1970-01-01 16:00:00,1970-01-01 16:00:00
13,1601,Activity F,Activity F,28800.0,24795.707538,1970-01-01 17:00:00,1970-01-01 15:53:15.707538
14,1602,Activity A,Activity A,0.0,0.000000,1970-01-01 09:00:00,1970-01-01 09:00:00
15,1602,Activity B,Activity B,3600.0,2832.559841,1970-01-01 10:00:00,1970-01-01 09:47:12.559841
16,1602,Activity C,Activity C,7200.0,7200.000000,1970-01-01 11:00:00,1970-01-01 11:00:00
17,1602,Activity D,Activity D,10800.0,10800.000000,1970-01-01 12:00:00,1970-01-01 12:00:00
18,1602,Activity E,Activity E,14400.0,14400.000000,1970-01-01 13:00:00,1970-01-01 13:00:00
19,1602,Activity K,Activity G,18000.0,15065.365207,1970-01-01 14:00:00,1970-01-01 13:11:05.365207

In [36]:
missing_true_test.head(20)

    CaseID    Activity    CompleteTimestamp  CumTimeInterval  NormalizedTime
0     1601  Activity A                  NaN              NaN             NaN
1     1601  Activity B                  NaN              NaN             NaN
2     1601         NaN  1970-01-01 11:00:00           7200.0        0.000000
3     1601         NaN  1970-01-01 12:00:00          10800.0        0.199999
4     1601  Activity E  1970-01-01 13:00:00          14400.0        0.399998
5     1601  Activity G                  NaN              NaN             NaN
6     1601  Activity M  1970-01-01 14:00:00          18000.0        0.599997
7     1601  Activity K  1970-01-01 14:00:00          18000.0        0.599997
8     1601         NaN  1970-01-01 15:00:00          21600.0        0.799996
9     1601         NaN                  NaN              NaN             NaN
10    1601         NaN  1970-01-01 15:00:00          21600.0        0.799996
11    1601  Activity L                  NaN              NaN             NaN
12    1601  Activity H  1970-01-01 16:00:00          25200.0        0.999994
13    1601  Activity F                  NaN              NaN             NaN
14    1602         NaN  1970-01-01 09:00:00              0.0        0.000000
15    1602  Activity B                  NaN              NaN             NaN
16    1602  Activity C  1970-01-01 11:00:00           7200.0        0.285713
17    1602         NaN  1970-01-01 12:00:00          10800.0        0.428570
18    1602  Activity E  1970-01-01 13:00:00          14400.0        0.571426
19    1602         NaN                  NaN              NaN             NaN